<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Give Money</title>
    <style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
<body style="background: url('https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png');
            background-repeat: no-repeat;
            background-size: cover">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <h1>Yeah you gave money.</h1>
  <body>
    <form action="/Comments">
      <div>
      <input type="button" onclick="location.href='http://localhost:5000/sendFunds?';" value="Go back"/>
      </div>
</form>
  </body>
</html>
