<!DOCTYPE html>
<html lang="en" dir="donos">

<head>
  <meta charset="utf-8">
  <title>Send Funds</title>
  <style>
    h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>

<body style="background: url('https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png');
            background-repeat: no-repeat;
            background-size: cover">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  </head>

  <body>

    <body>
      <h1>Funds</h1>
      <div>
        <form action="/Comments" method="post">
          <input class="feedbackform" type="number" name="user" placeholder="Social security number" value="">
          <div class="commentspacing">
            <input class="feedbackform" type="number" name="user" placeholder="Enter money" value="">
          </div>
          <div class="commentspacing">
            <input type="button" onclick="location.href='http://localhost:5000/Funds?';" value="Withdrew" />
            <input type="button" onclick="location.href='http://localhost:5000/?';" value="Go back" />
          </div>
        </form>
      </div>
    </body>

</html>
